<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Grassland Ventures Fruit Database:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="filter-controls">
                        <mat-form-field appearance="outline" class="search-input">
                            <mat-label for="search-input">Filter Fruits</mat-label>
                            <input matInput #searchInput [(ngModel)]="searchTerm"
                                (ngModelChange)="updateSearchTerm($event)">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="sort-input">
                            <mat-label>Sort By</mat-label>
                            <mat-select [(ngModel)]="selectedSort" (selectionChange)="onSortChange($event.value)">
                                <mat-option *ngFor="let sortOption of sortOptions"
                                    [value]="sortOption.value">{{sortOption.name}}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>sort</mat-icon>
                        </mat-form-field>
                    </div>
                    <table class="mat-table" mat-table [dataSource]="filteredFruitData$">
                        <mat-text-column name="name"></mat-text-column>
                        <mat-text-column name="id"></mat-text-column>
                        <mat-text-column name="genus"></mat-text-column>
                        <ng-container matColumnDef="calories">
                            <th mat-header-cell *matHeaderCellDef> Calories</th>
                            <td mat-cell *matCellDef="let fruit" [class.low-cals]="isLowCalorie(fruit)">
                                {{fruit.nutritions.calories}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="carbohydrates">
                            <th mat-header-cell *matHeaderCellDef> Carbohydrates</th>
                            <td mat-cell *matCellDef="let fruit"> {{fruit.nutritions.carbohydrates}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sugar">
                            <th mat-header-cell *matHeaderCellDef> Sugar</th>
                            <td mat-cell *matCellDef="let fruit" class="last-col"> {{fruit.nutritions.sugar}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"
                            [class.high-sugar]="isHighSugar(myRowData)"
                            (click)="openFruitDialog(myRowData)">
                        </tr>
                    </table>
                    <div class="loading-spinner-container" *ngIf="!!(viewModel.loadingFruit$|async)">
                        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>